<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
{{#if userEntries}}
    <ul>
        {{#each userEntries}}
            <strong> Username: {{ username }} </strong>
            <span>Role: {{ role }}</span>
            <li>User ID: {{ userid }}</li>
        {{/each}}
    </ul>
{{else}}
    <p>No users found.</p>
{{/if}}

<p><a href="/index">Back to Index</a></p>
</body>
</html>
